{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
	<h3> {{title}} </h3>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}
