{# app/Resources/views/concert/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
	<h3> Concert List </h3>
<table border="1">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Author</th>
		<th>Date</th>
		<th>City</th>
		<th>Pavilion</th>
	</tr>
	{% for concert in concerts %}
		<tr>
			<td>{{ concert.codi }} </td>
			<td>{{ concert.nomConcert }} </td>
			<td>{{ concert.nomGrup }} </td>
			<td>{{ concert.data | date('d-m-Y') }} </td>
			<td>{{ concert.ciutat }} </td>
			<td>{{ concert.espai }} </td>
		</tr>
	{% endfor %}
</table>


{% endblock %}
