<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Concert Application{% endblock %}</title>
    </head>
    <body>
        <h3>Concert Management</h3>
	<div id="container">
		{% block container %}
			<a href="/selectAll">List</a>
			<a href="/insertConcert">Insert</a>
			<a href="/selectConcert">Select</a>
			<a href="/deleteConcert">Delete</a>
			<br>
		{% endblock %}
	</div>
	
	<div id="content">
		{% block body %}{% endblock %}
	</div>
			
    </body>
</html>
